body{
    width: 100%;
    height: 100%;
    margin: 0;
}

ul{
    padding: 0px!important;
}

.Menu_Principal{
    width: none;width: 100%;
    background-color: #A33033;
    height: 60px;
    display: inline-block;
    justify-content: center;
}


.Barra-header-01{
    display: flex;
    justify-content: space-around;
    
}


main, .content{
    margin: auto;
    max-width: 100%;
    min-width: 200px;
    position:relative;
    max-width: 1080px;

}



#logowpp{
    /*Altura dinamica:*/
    height: 2vw;
    min-height: 25px;
    max-height: 40px;
    /*Largura dinamica:*/
    width: 2vw;
    min-width: 25px;
    max-width: 40px;
}
#logoinsta{
    /*Altura dinamica:*/
    height: 2vw;
    min-height: 25px;
    max-height: 40px;
    /*Largura dinamica*/
    width: 2vw;
    min-width: 25px;
    max-width: 40px;
}

.redes-sociais ul li{
    margin-left: 15px;
    display:inline-flex;
    list-style: none;
}
/*.redes-sociais{
    width: 30%;
    float: right;
    height: 20px;
}
/****************************************/
#nav ul li a{
     color:#3d3535;
     text-decoration: none;
     font-family: Times;
     text-transform: uppercase;
     font-size: min(25px);

}
#nav ul li a:hover{
    color: #910408;
    border-bottom: #910408 solid 2px;

}

#header{
    box-sizing: border-box;
    height: 55px;
    display: block;
    align-items: center;
    width: 100%;
    border-bottom: black solid 2px;
    background-color: white;
}

#nav{
    display: flex;
    justify-content: center;
}

#menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

#btn-mobile{
    display: none;
}
#icon-menu{
    visibility: hidden;
}

.menu-redes{
    position: fixed;
    width: 100%;
    z-index: 200;
}
.slider-principal{
    padding-top: 114px;
}

@media(max-width:700px){
    .slider-principal{
        padding-top: 94px;
    }
    #header{
        padding-left: 5px;
        background-color:#A33033;
        height: 35px;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        background-color:#A33033;
        height: 0%;
        z-index: 100000;
        padding-left: 5%;
        border-bottom: #0a0a0a solid 2.5px;
        border-top: #0a0a0a solid 2px;
        transition: .7s;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav{
        float: right;
        padding-right: 0%;
    }
    
    #nav ul li{
        text-align: center;
        padding: 5px;
        border-bottom: rgba(0, 0, 0, .08) solid ;
    
    }
    #nav ul li a{
        color: rgb(0, 0, 0);
    }
    
    #nav ul li a:hover{
        color: rgb(255, 255, 255);
    }

    #nav ul li:hover{
        background: rgba(0, 0, 0, .08);
    }

    #nav.active #menu{
        display: block;
        height: 30vh;
        visibility: visible;
        overflow-y: auto;
    }

    #btn-mobile{
        background: none;
        border: none;
        display: flex;
        cursor: pointer;
    }
    #icon-menu{
        visibility: visible;
        width: 25px;
        height: 20px;
    }

    .Barra-header-01{
        justify-content: space-between;
    }
    
}


/*
.busca{
    float: left;
    text-align: center;
}
.busca input{
    background-image: url('../img/lupa_icon.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 29px;
    padding-left: 12px;
    width: 20vw;
    border: 1px solid #928d8d;
}*/
/*******************************************/
.col-100{
    width: 100%;
    float: left;
    height: 52%;
    background-color: white;
}

#img01{
    width: 100%;
}
#img02{
    width: 100%;
}

/*pegando a tag do button*/
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 2%;
    height: 35px;
    z-index: 10;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior_icon.png');
    background-repeat: no-repeat;
    cursor: pointer;
    top: 45%;
    left: 1%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 2%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo_icon.png');
    background-repeat: no-repeat;
    cursor: pointer;
    top: 45%;
    right: 1%;
}


.slider-principal{
    width: 100%;
}

.slick-initialized{
    overflow: hidden;
}

.slick-dots li button{
    font-size: 0%;
    border: 6px solid rgb(255, 255, 255);
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    left: 50%;

}
.slick-dots{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 90%
}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;/*deixar um botão do lado do outro*/
}

/*classe selecionada no slider:*/
li.slick-active button{
    background: #910408;
}

.texto-destaque p{
    text-align:justify;
}
@font-face {
    font-family: 'SF TransRobotics' ;
    src: url('/fonts/SF\ TransRobotics\ Extended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.texto-destaque h1{
    padding-top: 2%;
    text-align:left;
    color: #910408;
    font-size: max(30px, 3.3vw);
    margin: 5%;
    font-family: Times , 'SF TransRobotics';
}
.texto-destaque p{
    color: #3d3535;
    font-size: max(20px, 1.5vw);
    margin: 5%;
}

.col-3 {
    padding-left: 1vw;
    /*width: 20%;*/
    float: left;
}

.bloco-texto{
    width: 300px;
    height: 400px;
}

.bloco-texto h3{
    font-size: 1.8em;
    text-align: center;
    color:#3d3535;
}

.bloco-texto p {
    font-size: 1.2em;
    text-align: center;
}


.texto-options{
    width: 100%;
    display: inline-block;
}
@media(max-width:685px){
    .texto-options {
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}

/**********************************/
/*Footer:*/

.container-footer{
    border-top: #910408 solid .8vw;
    background-color:#505050;
    align-items: center;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    
}


#king-logo-footer{
    /*Altura dinamica:*/
    height: 10vw;
    min-height: 100px;
    max-height: 200px;
    /*Largura dinamica*/
    width: 20vw;
    min-width: 200px;
    max-width: 400px;
    display: flex;
    margin: auto;
}
.logo-camada{
    border-bottom: white solid 2px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

#icon-footer{
    width: 2vw;
    min-height: 20px;
    min-width: 20px;
    /**/
    height: 2vw;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    float: left;
}

.inf-mais-icon{
    display: flex;
    width: 300px;
    gap: 10px;
    padding-bottom: 10px;
    justify-content: center;
    
    align-items: center;
    
}

.bloco-inf{
    display: flex;
    display: inline;
    float: left;
    margin: auto;
}

.bloco-inf p{
    color: #ababab;
    width: 300px;
    float: left;
    margin: 0px;
    text-align:center;
    margin-bottom: 20px;
    height: 55px;
}
.inf-mais-icon h4{
    color: white;
    font-size: 30px;
    margin: 0px;
    float: left;
}

.footer-texto{
    margin: auto;
    max-width: 1080px;
    min-width: 200px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(max-width:925px){
    .footer-texto{
        display: flex;
        flex-direction: column;
    }
    .bloco-inf p{
        height: auto;
    }
    .inf-mais-icon {
        align-items: center;
    }
}

.map-responsive{
    display: flex;
    justify-content: center;
}

